<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.CSharp" version="4.0.1" targetFramework="net461" />
  <package id="pdf-extract" version="1.0.1.0" targetFramework="net461" />
  <package id="PDFsharp" version="1.32.3057.0" targetFramework="net461" />
  <package id="XpdfNet" version="1.0.10" targetFramework="net461" />
</packages>